{% load static %}
<html>
    <head>
        <link rel = "stylesheet" href = "{% static 'css/main.css' %}">
        <title> Index </title>
    </head>
    <body>
        
        <div class = "heading">Email Service</div> 

        <form action="{% url 'index' %}" method = "POST">

        <div class="container">
            <label for="uname"><b>Email-Id</b></label>
            {% csrf_token %}
            <input type="email" placeholder="Enter Email-Id" name="email" multiple required>
            
            <label for="subject"><b>Subject</b></label>
            {% csrf_token %}
            <input type="text" placeholder="Enter Subject" name="subject" required>
            
            <label for="psw"><b>Content</b></label>
            <textarea type="text" placeholder="Enter Content" name="info" rows = "10" required></textarea>
                
            <button type="submit">Submit</button>
           
        </div>

        </form>


        
    </body>
</html>